body {
    background-color: antiquewhite;
    background: #FFF url('images/secondbackgroundimg.png');
    background-size: 100%;
}

.choice {
    border: 1px solid;
    padding: 5px;
    border-color: antiquewhite;

}
#test {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
    text-align: center;
    font-size: 20px;
    background-color: red;
    color: rgba(54, 30, 192, 0.774);
    border: whitesmoke 5px solid;
    padding: 5px;
    z-index: 100;
  }
  
  table {
      position: absolute;
      top: 0;
      left: 0;
  }
  
  td {
      position: relative;
      top: 0;
      left: 0;
  }

#start {
    margin-left: auto;
    margin-right: auto;
}

#timer {
    color: aliceblue;
}

#game {
    color: aliceblue;
}